<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_description}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:now@intelligentmachin.es"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="LinkedIn" target="" href="https://www.linkedin.com/company/intelligentmachines/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="" href="https://twitter.com/intelmachines"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Facebook" target="" href="https://www.facebook.com/intelligentmachinesbd"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="Github" target="" href="https://github.com/intelligentmachines"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="Site" target="" href="https://bangladesh.ai"><i class="icon fa fa-paper-plane" aria-hidden="true"></i></a>
      </div>
   
  </div>
</div>
